* {
  box-sizing: border-box;
}

body {
  background: #222222;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 9vw 30vw 30vw 9vw;
  grid-template-rows: 6vh 40vh 4vh 15vh 15vh 5vh;
  grid-column-gap: 6.5vw;
  grid-row-gap: 2vh;
  padding: 2vh 1vw;
}

/* HAND DISPLAYS *************************************************/

#left-hand {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

#right-hand {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.synth1-display {
  height: 100%;
  background: #779944;
}

.synth2-display {
  height: 100%;
  background: #7744aa;
}

.which-synth {
  font-size: 2rem;
  margin-bottom: 2rem;
}


.synth1-pitch,
.synth2-pitch {
  font-size: 6rem;
  line-height: 4rem;
}


.param-container {
  padding-top: 0.5rem;
}

.editing-param {
  font-size: 2rem;
  /*line-height: 10rem;*/
}

.param-value {
  font-size: 2rem;
}

.hand-meta-below-left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand-meta-below-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SYNTH-INFO */

#synth1-info {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 2px solid #779944;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

#synth2-info {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  border: 2px solid #7744aa;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

.synth-title {
  margin-left: 5px;
}

.synth-sustain {
  margin-left: 20px;
}

