body {
  background: #222222;
  display: grid;
  grid-template-columns: 10vw 30vw 30vw 10vw;
  grid-column-gap: 6.5vw;
  grid-template-rows: 50vh 25vh 25vh;
}

#left-hand {
  background: #886655;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

#right-hand {
  background: #886655;
  color: whitesmoke;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}


.which-synth {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*.pitch-display {*/
/*  padding-top: 0;*/
/*}*/

.synth1-pitch,
.synth2-pitch {
  font-size: 6rem;
  line-height: 4rem;
}

/*.params-display {*/
/*  padding-top: 0;*/
/*}*/

.param-container {
  padding-top: 0.5rem;
}

.editing-param {
  font-size: 2rem;
  /*line-height: 10rem;*/
}

.param-value {
  font-size: 2rem;
}
